<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>footer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../../css/base_v3.min.css" />
		<script src="../../js/flexible/rem.min.js"></script>
	</head>

	<body>
		<div class="footer">
			<dl>
				<dt><a href=""><img src="//i1.dd-img.com/assets/image/1497944625-d89bd6e41eae91e1-32w-26h.png" alt="" /></a></dt>
				<dd class="add_color">首页</dd>
			</dl>
			<dl>
				<dt><a href=""><img src="//i1.dd-img.com/assets/image/1497944625-c0c19eb359eb6d15-33w-28h.png"/></a></dt>
				<dd>直播</dd>
			</dl>
			<dl>
				<dt><a  class="add" href=""><i class="icon">&#xe64f;</i></a></dt>
				<dd></dd>
			</dl>
			<dl>
				<dt><a href=""><img src="//i1.dd-img.com/assets/image/1497944625-744d72d3015f5c00-35w-27h.png" alt="" /></a></dt>
				<dd>消息</dd>
			</dl>
			<dl>
				<dt><a href=""><img src="//i1.dd-img.com/assets/image/1497944625-1ba8398be104b5e2-33w-28h.png" alt="" /></a></dt>
				<dd>我</dd>
			</dl>
		</div>
	</body>
	<script src="footer.debug.js"></script>

</html>