@font-face {
  font-family: "iconfont";
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('../../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../font/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.main-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.main-wrap > header {
  width: 100%;
  height: 6.1rem;
  background-color: none;
  background: url(//i1.dd-img.com/assets/image/1498127299-5190a681b43db680-640w-244h.png) no-repeat center center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.main-wrap > header .head-box {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: absolute;
  bottom: -1.3rem;
}
.main-wrap > header .head-box .head {
  -webkit-box-flex: 1;
  padding: 0 1rem;
  bottom: -1.4rem;
}
.main-wrap > header .head-box .head .head-img {
  width: 4.4rem;
  height: 4.4rem;
  background-color: none;
  overflow: hidden;
  position: relative;
  border: 0.01rem solid #fff;
  border-radius: 50%;
}
.main-wrap > header .head-box .head .head-img > img {
  width: auto;
  height: 100%;
  position: absolute;
  left: -100%;
  top: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
}
.main-wrap > header .head-box .head .sex {
  width: 1rem;
  height: 1rem;
  background-color: none;
  position: absolute;
  left: 6.5rem;
  top: 3.5rem;
  z-index: 1000;
}
.main-wrap > header .head-box .attention,
.main-wrap > header .head-box .fans {
  color: white;
  font-size: 0.6rem;
  margin-top: 2rem;
}
.main-wrap > section {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
.main-wrap > section .intro {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  text-align: center;
}
.main-wrap > section .intro > p {
  font-size: 0.7rem;
  color: #000;
  margin-top: 1.7rem;
}
.main-wrap > section .intro .tag {
  margin-top: 0.5rem;
}
.main-wrap > section .intro .tag > button {
  padding: 0.15rem 0.25rem;
  background-color: white;
  outline: none;
  border: 1px solid #ececec;
  font-size: 0.45rem;
  color: #adadad;
  border-radius: 0.1rem;
}
.main-wrap > section .intro .state {
  margin: 0.4rem 0 1.7rem 0;
}
.main-wrap > section .intro .state > button {
  width: 5.5rem;
  height: 1.2rem;
  background-color: #3595e6;
  border-radius: 0.1rem;
  outline: none;
  border: none;
  color: white;
  font-size: 0.45rem;
}
.main-wrap > section .intro .state > button .iconfont {
  font-size: 0.45rem;
  margin-right: 0.25rem;
}
.main-wrap > section .new {
  padding: 0 0.6rem;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
}
.main-wrap > section .new .new-box > header .iconfont {
  font-size: 0.7rem;
  color: #289cde;
}
.main-wrap > section .new .new-box > header > span {
  font-size: 0.7rem;
  color: #343b41;
}
.main-wrap > section .new .new-box > section {
  margin-top: 1.15rem;
}
.main-wrap > section .new .new-box > section .time {
  font-size: 0.45rem;
  color: #39bcff;
}
.main-wrap > section .new .new-box > section > p {
  color: #343d40;
  font-size: 0.6rem;
  line-height: 0.9rem;
  margin: 0.5rem 0 0.7rem 0;
}
.main-wrap > section .new .new-box > section .photos ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  font-size: 0;
}
.main-wrap > section .new .new-box > section .photos ul li {
  width: 4.8rem;
  height: 4.8rem;
  background-color: none;
  display: inline-block;
  margin: 0 0.2rem 0.2rem 0;
}
.main-wrap > section .new .new-box > section .photos ul li a img {
  width: 100%;
  height: auto;
  background-color: none;
}
.main-wrap > section .new .new-box > section .photos ul li:nth-of-type(3n) {
  margin-right: 0;
}
.main-wrap > section .new .new-box > section .picture {
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
  background-color: none;
  position: relative;
}
.main-wrap > section .new .new-box > section .picture .picture-photo img {
  width: 100%;
  height: auto;
  background-color: none;
}
.main-wrap > section .new .new-box > section .picture .picture-title {
  width: 100%;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 0.6rem;
  line-height: 1.5rem;
  padding: 0 0.6rem;
}
.main-wrap > section .new .new-box > section .feedback {
  width: 100%;
  height: 1.9rem;
  background-color: none;
  line-height: 1.9rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.main-wrap > section .new .new-box > section .feedback .feedback-car {
  font-size: 0.5rem;
  color: #939698;
}
.main-wrap > section .new .new-box > section .feedback .feedback-car span {
  color: #00a0e9;
}
.main-wrap > section .new .new-box > section .feedback .feedback-num {
  -webkit-box-flex: 1;
  font-size: 0.4rem;
  color: #939698;
  margin-left: 1.35rem;
}
.main-wrap > section .new .new-box > section .feedback .feedback-num span {
  margin-right: 0.7rem;
}
.main-wrap > section .new .new-box > section .feedback .feedback-num span .iconfont {
  font-size: 0.4rem;
  margin-right: 0.15rem;
  color: #cccccc;
}
.main-wrap > section .new .new-box > section .feedback .feedback-more .iconfont {
  font-size: 0.4rem;
  margin-right: 0.15rem;
  color: #cccccc;
}
.main-wrap .end {
  height: 3.4rem;
}
